*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow: auto;
	background: #ccc;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;
}

.container {
	width: 600px;
	height: 1041px;
	background-image: url('https://dl.dropboxusercontent.com/u/3739354/sketch7_by_est1978-d9mhq02.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}
.container-in {
	width: 100%;
	height: 100%;
	position: relative;
}
.container.cursor-pointer {
	cursor: pointer;
}
.container.cursor-crosshair {
	cursor: crosshair;
}

.button {
	padding: 10px;
}

.tools {
	margin: 0 0 10px;
}

.menu {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10;
}

.box-info,
.cursor-info {
	margin: 10px 0 0;
	padding: 5px;
	background: rgba(204, 204, 204, 0.3);
}
.box-info:empty,
.cursor-info:empty {
	display: none;
}

.box {
	position: absolute;
	background: rgba(44, 86, 157, 0.5);
}

.spot {
	position: absolute;
	width: 1px;
	height: 1px;
}
.spot-in {
	background: rgba(44, 86, 157, 0.8);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}
.spot-in:after {
	content: '';
	width: 40%;
	height: 40%;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
