*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow: auto;
	background: #ccc;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;
}

.container {
	width: 600px;
	height: 1041px;
	background-image: url('https://dl.dropboxusercontent.com/u/3739354/sketch7_by_est1978-d9mhq02.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: white;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}
.container-in {
	width: 100%;
	height: 100%;
	position: relative;
}
.container.cursor-pointer {
	cursor: pointer;
}
.container.cursor-crosshair {
	cursor: crosshair;
}
.container.cursor-default .box:hover,
.container.cursor-default .spot-in:hover {
	background: rgba(255, 0, 255, 0.5);
}

.menu {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10;
	min-width: 30%;
}

.info {
	overflow: hidden;
	margin: 10px 0 0;
	padding: 5px;
	background: rgba(255, 255, 255, 0.5);
	font-family: 'Courier New', sans-serif;
	font-size: 14px;
}

.box-info,
.cursor-info {
	width: 49%;
}

.box-info {
	float: left;
}

.cursor-info {
	float: right;
}

.box {
	position: absolute;
	background: rgba(44, 86, 157, 0.5);
}

.spot {
	position: absolute;
	width: 1px;
	height: 1px;
}
.spot-in {
	background: rgba(44, 86, 157, 0.8);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}
.spot-in:after {
	content: '';
	width: 40%;
	height: 40%;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.buttons-line {
	overflow: hidden;
	position: relative;
	padding: 10px 0 0;
	font-size: 0;
	white-space: nowrap;
}
.buttons-line:first-child {
	padding: 0;
}
.buttons-line input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}
.buttons-line input:first-child + label {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.buttons-line input:checked + label {
	background: #2c569d;
	color: white;
}
.buttons-line label,
.buttons-line .button {
	display: inline-block;
	background: white;
	border: 0;
	padding: 5px 12px;
	font-size: 16px;
	border: 1px solid black;
	border-right: 0;
	cursor: pointer;
}
.buttons-line label.active,
.buttons-line .button.active {
	background: #2c569d;
	color: white;
}
.buttons-line label:focus,
.buttons-line .button:focus {
	outline: none;
}
.buttons-line label:first-child,
.buttons-line .button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.buttons-line label:last-child,
.buttons-line .button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid black;
}
