*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	height: 100%;
}

.main {
	height: 100%;
	overflow: auto;
	width: 60%;
	background: #ccc;
}

.photo {
	background-color: white;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}
.photo .photo-image {
	width: 0;
	height: 0;
	display: block;
	vertical-align: top;
}
.photo-in {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.photo.cursor-pointer {
	cursor: pointer;
}
.photo.cursor-crosshair {
	cursor: crosshair;
}
.photo.cursor-default .box:hover,
.photo.cursor-default .spot-in:hover {
	background: rgba(0, 0, 0, 0.9);
}
.photo.cursor-cell .spot-in:hover {
	background: rgba(0, 0, 0, 0.9);
}
.photo.cursor-cell .active .spot-in {
	background: #ff4b3c;
}
.photo.cursor-cell .checked .spot-in {
	border: 2px solid #ff4b3c;
}

.menu {
	width: 40%;
	padding: 20px;
	background: rgba(44, 86, 157, 0.2);
}

.coordinates {
	overflow: hidden;
	font-family: 'Courier New', sans-serif;
	font-size: 14px;
}

.coordinates-box,
.coordinates-cursor {
	width: 49%;
}

.coordinates-box {
	float: left;
}

.coordinates-cursor {
	float: right;
}

.box {
	position: absolute;
	background: rgba(44, 86, 157, 0.5);
}

.spot {
	position: absolute;
	width: 1px;
	height: 1px;
}
.spot-in {
	background: rgba(44, 86, 157, 0.8);
	border: 2px solid transparent;
	border-radius: 999px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30px;
	height: 30px;
	margin: -14px 0 0 -14px;
}
.spot-in:after {
	content: attr(data-id);
	width: 100%;
	height: 100%;
	line-height: 27px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	position: absolute;
	color: white;
	left: 50%;
	top: 50%;
	border-radius: 999px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.spot.has-info .spot-in:before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	right: -4px;
	top: -4px;
	background: #ff4b3c;
	font-size: 0;
	border-radius: 999px;
}

.line {
	overflow: hidden;
	position: relative;
	padding: 10px 0 0;
}
.line:first-child {
	padding: 0;
}

.label {
	display: block;
	padding: 0 0 5px;
}

.input {
	width: 100%;
	font-family: 'Courier New', sans-serif;
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 5px;
	resize: none;
}
.input:focus {
	outline: none;
	border: 1px solid #ff4b3c;
}

.info,
.generate,
.download-link,
.settings {
	display: none;
}

.settings .colors {
	overflow: hidden;
}
.settings .colors li {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 8px;
	display: block;
	position: relative;
}
.settings .colors li input {
	opacity: 0;
}
.settings .colors li input:checked + label {
	border-color: #fff;
}
.settings .colors li label {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 0;
}

.generate {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 10;
	font-size: 18px;
}
.generate button {
	font-size: 18px;
	padding: 12px;
}
.generate button:focus {
	outline: none;
}
.generate .download-link {
	padding: 0 12px;
}

.line-buttons {
	font-size: 0;
	white-space: nowrap;
}
.line-buttons:first-child {
	padding: 0;
}
.line-buttons input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}
.line-buttons input:first-child + label {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.line-buttons input:checked + label {
	background: #2c569d;
	color: white;
}
.line-buttons label,
.line-buttons .button {
	display: inline-block;
	background: white;
	border: 0;
	padding: 5px 12px;
	font-size: 13px;
	border: 1px solid black;
	border-right: 0;
	cursor: pointer;
}
.line-buttons label.active,
.line-buttons .button.active {
	background: #2c569d;
	color: white;
}
.line-buttons label:focus,
.line-buttons .button:focus {
	outline: none;
}
.line-buttons label:first-child,
.line-buttons .button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.line-buttons label:last-child,
.line-buttons .button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid black;
}
