$colorGrey: rgb(204,204,204);
$colorBlue: rgb(44, 86, 157);
$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);
$colorPink: rgb(255, 0, 255);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

$bg: 'https://dl.dropboxusercontent.com/u/3739354/sketch7_by_est1978-d9mhq02.png';

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  height: 100%;
}

.main {
  height: 100%;
  overflow: auto;
  width: 60%;
  background: $colorGrey;
}

.photo {
  width: 600px;
  height: 1041px;
  background-image: url($bg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: $colorWhite;
  transform: scale(1);
  transform-origin: left top;
  image-rendering: pixelated;

  &-in {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &.cursor-pointer {
    cursor: pointer;
  }
  &.cursor-crosshair {
    cursor: crosshair;
  }
  &.cursor-default {
    .box:hover,
    .spot-in:hover {
      background: rgba($colorPink, 0.5);
    }
  }
}

.menu {
  width: 40%;
  padding: 20px;
  background: rgba($colorBlue, 0.2);
}

.info {
  overflow: hidden;
  margin: 10px 0 0;
  padding: 5px;
  background: rgba($colorWhite, 0.5);
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
}

.box-info,
.cursor-info {
  width: 49%;
}

.box-info {
  float: left;
}

.cursor-info {
  float: right;
}

.box {
  position: absolute;
  background: rgba($colorBlue, 0.5);
}

.spot {
  position: absolute;
  width: 1px;
  height: 1px;
  &-in {
    background: rgba($colorBlue, 0.8);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
    &:after {
      content: '';
      width: 40%;
      height: 40%;
      background: $colorWhite;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.buttons-line {
  overflow: hidden;
  position: relative;
  padding: 10px 0 0;
  font-size: 0;
  white-space: nowrap;
  &:first-child {
    padding: 0;
  }
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    &:first-child + label {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:checked + label {
      background: $colorBlue;
      color: $colorWhite;
    }
  }
  label,
  .button {
    display: inline-block;
    background: $colorWhite;
    border: 0;
    padding: 5px 12px;
    font-size: 16px;
    border: 1px solid $colorBlack;
    border-right: 0;
    cursor: pointer;
    &.active {
      background: $colorBlue;
      color: $colorWhite;
    }
    &:focus {
      outline: none;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $colorBlack;
    }
  }
}