$colorGrey: rgb(204,204,204);
$colorBlue: rgb(44, 86, 157);
$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);
$colorRed: rgb(255, 75, 60);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  height: 100%;
}

.main {
  height: 100%;
  overflow: auto;
  width: 60%;
  background: $colorGrey;
}

.photo {
  background-color: $colorWhite;
  transform: scale(1);
  transform-origin: left top;
  image-rendering: pixelated;
  img {
    vertical-align: top;
  }
  &-in {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &.cursor-pointer {
    cursor: pointer;
  }
  &.cursor-crosshair {
    cursor: crosshair;
  }
  &.cursor-default {
    .box:hover,
    .spot-in:hover {
      background: rgba($colorBlack, 0.9);
    }
  }
  &.cursor-cell {
    .spot-in:hover {
      background: rgba($colorBlack, 0.9);
    }
    .active .spot-in {
      background: $colorRed;
    }
  }
}

.menu {
  width: 40%;
  padding: 20px;
  background: rgba($colorBlue, 0.2);
}

.coordinates {
  overflow: hidden;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
}

.coordinates-box,
.coordinates-cursor {
  width: 49%;
}

.coordinates-box {
  float: left;
}

.coordinates-cursor {
  float: right;
}

.box {
  position: absolute;
  background: rgba($colorBlue, 0.5);
}

.spot {
  position: absolute;
  width: 1px;
  height: 1px;
  &-in {
    background: rgba($colorBlue, 0.8);
    border-radius: 999px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: -14px 0 0 -14px;
    &:after {
      content: attr(data-id);
      width: 100%;
      height: 100%;
      line-height: 30px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      position: absolute;
      color: $colorWhite;
      left: 50%;
      top: 50%;
      border-radius: 999px;
      transform: translate(-50%, -50%);
    }
  }
  &.has-info .spot-in:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: $colorRed;
    font-size: 0;
    border-radius: 999px;
  }
}

.line {
  overflow: hidden;
  position: relative;
  padding: 10px 0 0;
  &:first-child {
    padding: 0;
  }
}

.label {
  display: block;
  padding: 0 0 5px;
}

.input {
  width: 100%;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  border: 1px solid $colorGrey;
  padding: 5px;
  resize: none;
  &:focus {
    outline: none;
    border: 1px solid $colorRed;
  }
}

.info,
.generate {
  display: none;
}

.line-buttons {
  font-size: 0;
  white-space: nowrap;
  &:first-child {
    padding: 0;
  }
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    &:first-child + label {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:checked + label {
      background: $colorBlue;
      color: $colorWhite;
    }
  }
  label,
  .button {
    display: inline-block;
    background: $colorWhite;
    border: 0;
    padding: 5px 12px;
    font-size: 13px;
    border: 1px solid $colorBlack;
    border-right: 0;
    cursor: pointer;
    &.active {
      background: $colorBlue;
      color: $colorWhite;
    }
    &:focus {
      outline: none;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $colorBlack;
    }
  }
}