@import '_base.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  align-items: stretch;
}

.main {
  height: 100%;
  overflow: auto;
  width: 60%;
  background: $colorGrey;
  user-select: none;
  position: relative;
}

.photo {
  transform: scale(1);
  transform-origin: left top;
  image-rendering: pixelated;
  .photo-image {
    display: none;
    vertical-align: top;
  }
  &-in {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &.cursor-pointer {
    cursor: pointer;
  }
  &.cursor-crosshair {
    cursor: crosshair;
  }
  &.cursor-default {
    .box:hover,
    .spot-in:hover {
      background: rgba($colorBlack, 0.9);
    }
  }
  &.cursor-cell {
    .spot-in:hover {
      background: rgba($colorBlack, 0.9);
    }
    .active .spot-in {
      background: $colorRed;
      border: 2px solid $colorWhite;
    }
  }
}

.menu {
  width: 40%;
  padding: 20px;
  background: rgba($colorBlue, 0.2);
}

.coordinates {
  overflow: hidden;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
}

.coordinates-box,
.coordinates-cursor {
  width: 49%;
}

.coordinates-box {
  float: left;
}

.coordinates-cursor {
  float: right;
}

.box {
  position: absolute;
  background: rgba($colorBlue, 0.5);
}

.spot {
  position: absolute;
  width: 1px;
  height: 1px;
  &-in {
    background: rgba($colorBlue, 0.8);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 999px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: -14px 0 0 -14px;
    &:after {
      content: attr(data-id);
      width: 100%;
      height: 100%;
      line-height: 27px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      position: absolute;
      color: $colorWhite;
      left: 50%;
      top: 50%;
      border-radius: 999px;
      transform: translate(-50%, -50%);
    }
  }
  &.has-info .spot-in:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: $colorRed;
    font-size: 0;
    border-radius: 999px;
  }
}

.line {
  overflow: hidden;
  position: relative;
  padding: 10px 0 0;
  &:first-child {
    padding: 0;
  }
}

.label {
  display: block;
  padding: 0 0 5px;
}

.input {
  width: 100%;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  border: 1px solid $colorGrey;
  padding: 5px;
  resize: none;
  &:focus {
    outline: none;
    border: 1px solid $colorRed;
  }
}

.info,
.generate,
.download-link,
.colors {
  display: none;
}

.colors {
  ul {
    overflow: hidden;
    li {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 8px;
      display: block;
      position: relative;
      input {
        opacity: 0;
        &:checked + label {
          border-color: #fff;
        }
      }
      label {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        font-size: 0;
      }
    }
  }
}

.generate {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  font-size: 18px;
  button {
    font-size: 18px;
    padding: 12px;
    // border: 0;
    // color: $colorBlack;
    // background: 0 0;
    // cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .download-link {
    padding: 0 12px;
  }
}

.line-buttons {
  font-size: 0;
  white-space: nowrap;
  &:first-child {
    padding: 0;
  }
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    &:first-child + label {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:checked + label {
      background: $colorBlue;
      color: $colorWhite;
    }
  }
  label,
  .button {
    display: inline-block;
    background: $colorWhite;
    border: 0;
    padding: 5px 12px;
    font-size: 13px;
    border: 1px solid $colorBlack;
    border-right: 0;
    cursor: pointer;
    &.active {
      background: $colorBlue;
      color: $colorWhite;
    }
    &:focus {
      outline: none;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $colorBlack;
    }
  }
}